<div class="reservation-card timeline-card">

  <div class="timeline-main">
    <div class="user-info">
      <div class="user-avatar">
        {{ post.user.display_name|slice:":1" }}
      </div>
      <div class="user-meta">
        <span class="user-name">{{ post.user.display_name }}</span>
        <span class="res-date">{{ post.created_at|date:"n/j H:i" }}</span>
      </div>
    </div>

    <div class="activity-content">
      <div class="activity-header">
        <span class="res-label">ACTIVITY</span>
        <div class="activity-type">{{ post.reservation.get_activity_type_display }}</div>
      </div>

      {% if post.visibility == "with_detail" %}
      {% if post.reservation.memo %}
      <div class="activity-memo">{{ post.reservation.memo }}</div>
      {% endif %}
      {% else %}
      <p class="status-info small">詳細なし</p>
      {% endif %}
    </div>
  </div>

  <div class="timeline-footer">
    <div class="status-badge-complete">達成 🎉</div>

    <div class="like-container">
      <div class="like-container">
        <button type="button" class="like-btn {% if post.id in user_liked_post_ids %}is-liked{% endif %}"
          data-url="{% url 'timeline_like' post.id %}">
          <span class="heart">{% if post.id in user_liked_post_ids %}❤️{% else %}🤍{% endif %}</span>
          <span class="like-count">{{ post.calculated_count }}</span>
        </button>
      </div>
    </div>
  </div>

</div>