{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>運動予約デポジットアプリ</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_head %}{% endblock %}
</head>

<body>
  <header class="app-header">
    <div class="header-container">
      <h2 class="gradient-text">起動アプリ</h2>
      <a href="{% url 'reservation_new' %}">
        <button class="reserve-btn">＋予約</button>
      </a>
    </div>
  </header>

  <nav class="menu">
    <a href="{% url 'dashboard' %}">ホーム</a>
    <a href="{% url 'timeline_list' %}">タイムライン</a>
    <a href="{% url 'mypage' %}">マイページ</a>
  </nav>

  <main id="contents">
    {% block content %}{% endblock %}
  </main>
</body>
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>
</html>